//頁首
header {
    padding-block: 16px;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 80px;
    }

    ul {
        column-gap: 64px;
        height: 100%;
    }

    li {
        height: 100%;
        display: inline-block;
    }

    @media (max-width: $breakPoint-pad) {
        padding-block: 25px;
    }

    @media (max-width: $breakPoint-mb) {
        padding-block: 12px 0px;

        .container {
            flex-direction: column;
            max-width: 100%;
            align-items: flex-start;
            padding-inline: 0;
        }

        .imgBox {
            margin-left: 14px;
            margin-bottom: 12px;
        }

        ul {
            width: 100%;
            flex-wrap: wrap;
            gap: 0;
        }

        li {
            width: 50%;
            text-align: center;
            padding-block: 12px;
            border: 1px solid #fff;
        }
    }
}

//頁尾
footer {
    padding-top: 48px;

    .upperFooter {
        flex-direction: column;
    }

    .linkGroup {
        justify-content: space-between;
        align-items: center;
    }

    ul {
        column-gap: 48px;
    }

    .imgGrid {
        column-gap: 32px;

        .imgBox {
            width: 48px;

            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    .contactBtn {
        font-size: 36px;
        margin-top: 44px;

        .material-symbols-rounded {
            font-size: 32px;
            vertical-align: middle;
            margin-right: 20px;
        }
    }

    .contactBtn:last-of-type {
        margin-top: 8px;

        .material-symbols-rounded {
            margin-right: 12px;

            @include mb {
                margin-right: 8px;
            }
        }
    }

    .bottomFooter {
        margin-top: 32px;
        padding-block: 32px;
        border-top: 1px solid #fff;
        justify-content: space-between;
    }

    .privacy {
        margin-right: 48px;
    }

    @media (max-width: $breakPoint-pad) {
        padding-top: 40px;

        .imgGrid {
            column-gap: 16px;

            .imgBox {
                width: 40px;
            }
        }

        .contactBtn {
            margin-top: 40px;
        }
    }

    @media (max-width: $breakPoint-mb) {
        padding-top: 24px;

        .upperFooter {
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: flex-start;

            ul {
                display: none;
            }
        }

        .contactBtn {
            margin-top: 8px;
            font-size: 16px;

            &:first-of-type {
                margin-top: 0;
            }

            .material-symbols-rounded {
                font-size: 16px;
                margin-right: 10px;
            }
        }

        .imgGrid {
            column-gap: 8px;

            .imgBox {
                width: 24px;
            }
        }

        .bottomFooter {
            margin-top: 20px;
            flex-direction: column;
            padding-block: 20px;
        }

        .privacy {
            display: block;
            margin-block: 8px;
        }
    }
}